

:root {
  --blue: #1B9AAA;
  --white: #FFFFFF;
  --green: #222c3c;
  --grey: grey;

  --background-color: #F6F6F2;
  --text-color: #2b6368;
  --link-hover: #C2EDCE;
  --link-normal: #6Fb3B8;
}


.body {
	margin-top:30px;
	background: var(--background-color);
}

.container {
	color: var(--text-color);
	font-family: Helvetica;
}

.button_cont {
	float:right;
}

.expand {
color: #E9ECF5 !important;
text-transform: uppercase;
text-decoration: none;
background: #CF5C36;
padding: 15px;
border-radius: 5px;
margin-right: 20px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

.expand:hover {
background: #2b6368;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}
